* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.search {
    display: flex;
    width: 30%;
    margin-bottom: 10px;
}
.form-control-lg {
    margin-right: 10px;
}